[package]
name = "sarchive"
version = "0.11.9"
authors = ["Andy Georges <itkovian@gmail.com>"]
edition = "2018"
description = "Archival tool for slurm job scripts"
license = "MIT"
readme = "README.md"
homepage = "https://github.com/itkovian/sarchive"
repository = "https://github.com/itkovian/sarchive"
keywords = ["slurm", "torque", "cli", "archival", "hpc"]
categories = ["command-line-utilities"]

[badges]
travis-ci = { repository = "itkovian/sarchive" }
coveralls = { repository = "itkovian/sarchive" }
maintenance = { status = "actively-developed" }

[dependencies]
chrono = { version = "0.4.10", features = ["serde"] }
clap = "2.33"
crossbeam = "0.7.3"
crossbeam-channel = "0.4.0"
crossbeam-queue = "0.2.0"
crossbeam-utils = "0.7.0"
fern = { version = "0.5.9", features = ["reopen-03"]}
glob = "0.3.0"
notify = "5.0.0-pre.2"
libc = "0.2.66"
log = "^0.4"
reopen = "^0.3.0"
signal-hook = "^0.1.13"

elastic = { version = "~0.21.0-pre.5", optional = true }
elastic_derive = { version = "~0.21.0-pre.5", optional = true }
serde = { version = "^1.0", features = ["derive"], optional = true }
serde_derive = { version = "^1.0", optional = true }
serde_json = { version = "^1.0", optional = true }
rdkafka = { version = "0.23.1", optional = true }

[lib]
name = "sarchive"
path = "src/lib.rs"

[[bin]]
name = "sarchive"
path = "src/main.rs"

[features]
elasticsearch-7 = ["elastic", "elastic_derive", "serde", "serde_derive", "serde_json"]
kafka = ["rdkafka", "serde", "serde_derive", "serde_json"]

[dev-dependencies]
tempfile = "3.0.7"

[package.metadata.rpm.cargo]
buildflags = ["--release", "--all-features"]

[package.metadata.rpm.targets]
sarchive = { path = "/usr/bin/sarchive" }

[package.metadata.rpm.files]
service = { path = "/usr/lib/systemd/system/sarchive.service" }

